.contentEditable {
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 400px;
    /* width: 80vw; */
    padding: 10px
}

.editorWrapper {
    position: relative;
}

.placeHolder {
    position: absolute;
    top: 80px;
    left: 11px;
    color: gray;
}

.blog-editor-h1 {

}
.blog-editor-h2 {

}
.blog-editor-h3 {

}
.blog-editor-h4 {

}

