@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    margin: 0;
}

.cvLeft {
    padding: 0 0 0 32px;
    width: 30%;
    display: inline;
}

.cvRight {
    padding: 0 0 0 32px;
    width: 70%;
    display: inline;
    text-align: justify;
}