@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: Roboto;
}

h1 {
    letter-spacing: 5px;
    font-weight: 700;
}

body {
    margin: 0;
}

.bannerTitle {
    padding-left: 2rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0rem;
}


.nav a {
    color: inherit;
    text-decoration: none;
    width: 6rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.AppPage {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Footer {
    margin-top: auto;
    /* background-color: gray;
    color: wheat; */
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem

}

.scrim {
    position: absolute;

    background-color: #dddd;
    height: 100vh;
    width: 100vw;
}

.admin-form {
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    border-radius: 30px;
}

.admin-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
}

button {
    border:  2px solid;
    border-radius: 10px;
    padding: 5pt;
    font-size: 12pt;
    min-width: 100px;
    /* box-shadow: none; */
}

/* Background styles */

.background {
    background-color: gray;
    color: wheat;
}g

.background li:hover {
    background-color: darkgray;
}

/* onBackground */
.onBackground{
    background-color: #aaaaaa;
    color: wheat;
}

li.onBackground:hover {
    background-color: #bbbbbb;
    color: wheat;
}


/* Primary styles */

button.primary{
    border-color: brown;
    background-color: brown;
    color: wheat;
}

.primary{
    background-color: brown;
    color: wheat;
}

.primary:hover{
    background-color: lightcoral;
}

li.primary:hover {
    background-color: lightcoral;
}

/* Secondary styles */

.secondary{
    background-color: brown;
    color: wheat;
}

button.secondary{
    background-color: darkgray;
    border-color: brown;
    color: brown;
}

.secondary:hover{
    background-color: lightcoral;
}
